## import pandas and gc

In [1]:
import pandas as pd
import gc

## reading input files(fines.csv)

In [2]:
df = pd.read_csv('../data/fines.csv')
df.head()

      CarNumber  Refund   Fines    Make  Model  Year
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995
2   7184TT36RUS       1  2100.0    Ford  Focus  1984
3  X582HE161RUS       2  2000.0    Ford  Focus  2015
4  92918M178RUS       1  5700.0    Ford  Focus  2014

## iterations: in all the following subtasks, you need to calculate fines/refund*year for each row and create a new column with the calculated data and measure the time using the magic command %%timeit in the cell

In [3]:
%%timeit
res = []
for i in range(0, len(df)):
    res.append(df.iloc[i]['Fines'] / (df.iloc[i]['Refund'] * df.iloc[i]['Year']))
df['Fines/refund'] = res

318 ms ± 20.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [4]:
df

        CarNumber  Refund   Fines    Make  Model  Year  Fines/refund
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989      0.804424
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995      3.258145
2     7184TT36RUS       1  2100.0    Ford  Focus  1984      1.058468
3    X582HE161RUS       2  2000.0    Ford  Focus  2015      0.496278
4    92918M178RUS       1  5700.0    Ford  Focus  2014      2.830189
..            ...     ...     ...     ...    ...   ...           ...
925  H799AX131RUS       2   600.0  Toyota  Camry  1991      0.150678
926  B090KH243RUS       1   500.0    Ford  Focus  2018      0.247770
927  C280EC929RUS       2  1500.0    Ford  Focus  2011      0.372949
928  K202AE490RUS       2  2000.0    Ford  Focus  2012      0.497018
929  K008XE145RUS       2  3400.0    Ford  Focus  2010      0.845771

[930 rows x 7 columns]

In [5]:
df.drop(['Fines/refund'], axis=1)

        CarNumber  Refund   Fines    Make  Model  Year
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995
2     7184TT36RUS       1  2100.0    Ford  Focus  1984
3    X582HE161RUS       2  2000.0    Ford  Focus  2015
4    92918M178RUS       1  5700.0    Ford  Focus  2014
..            ...     ...     ...     ...    ...   ...
925  H799AX131RUS       2   600.0  Toyota  Camry  1991
926  B090KH243RUS       1   500.0    Ford  Focus  2018
927  C280EC929RUS       2  1500.0    Ford  Focus  2011
928  K202AE490RUS       2  2000.0    Ford  Focus  2012
929  K008XE145RUS       2  3400.0    Ford  Focus  2010

[930 rows x 6 columns]

In [6]:
%%timeit
col = list()
for row in df.iterrows():
    col.append(row[1]['Fines'] / row[1]['Refund'] * row[1]['Year'])
df['Fines/refund'] = col

50.6 ms ± 2.69 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
df.drop(['Fines/refund'], axis=1)

        CarNumber  Refund   Fines    Make  Model  Year
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995
2     7184TT36RUS       1  2100.0    Ford  Focus  1984
3    X582HE161RUS       2  2000.0    Ford  Focus  2015
4    92918M178RUS       1  5700.0    Ford  Focus  2014
..            ...     ...     ...     ...    ...   ...
925  H799AX131RUS       2   600.0  Toyota  Camry  1991
926  B090KH243RUS       1   500.0    Ford  Focus  2018
927  C280EC929RUS       2  1500.0    Ford  Focus  2011
928  K202AE490RUS       2  2000.0    Ford  Focus  2012
929  K008XE145RUS       2  3400.0    Ford  Focus  2010

[930 rows x 6 columns]

In [8]:
%%timeit
df['Fines/refund'] = df.apply(lambda row: row['Fines'] / (row['Refund'] * row['Year']), axis=1)

21.3 ms ± 2.87 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [9]:
df.drop(['Fines/refund'], axis=1)

        CarNumber  Refund   Fines    Make  Model  Year
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995
2     7184TT36RUS       1  2100.0    Ford  Focus  1984
3    X582HE161RUS       2  2000.0    Ford  Focus  2015
4    92918M178RUS       1  5700.0    Ford  Focus  2014
..            ...     ...     ...     ...    ...   ...
925  H799AX131RUS       2   600.0  Toyota  Camry  1991
926  B090KH243RUS       1   500.0    Ford  Focus  2018
927  C280EC929RUS       2  1500.0    Ford  Focus  2011
928  K202AE490RUS       2  2000.0    Ford  Focus  2012
929  K008XE145RUS       2  3400.0    Ford  Focus  2010

[930 rows x 6 columns]

In [10]:
%%timeit
df['Fines/refund'] = df['Fines'] / df['Refund'] * df['Year']

298 µs ± 12.6 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [11]:
df

        CarNumber  Refund   Fines    Make  Model  Year  Fines/refund
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989     3182400.0
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995    12967500.0
2     7184TT36RUS       1  2100.0    Ford  Focus  1984     4166400.0
3    X582HE161RUS       2  2000.0    Ford  Focus  2015     2015000.0
4    92918M178RUS       1  5700.0    Ford  Focus  2014    11479800.0
..            ...     ...     ...     ...    ...   ...           ...
925  H799AX131RUS       2   600.0  Toyota  Camry  1991      597300.0
926  B090KH243RUS       1   500.0    Ford  Focus  2018     1009000.0
927  C280EC929RUS       2  1500.0    Ford  Focus  2011     1508250.0
928  K202AE490RUS       2  2000.0    Ford  Focus  2012     2012000.0
929  K008XE145RUS       2  3400.0    Ford  Focus  2010     3417000.0

[930 rows x 7 columns]

In [12]:
df.drop(['Fines/refund'], axis=1)

        CarNumber  Refund   Fines    Make  Model  Year
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995
2     7184TT36RUS       1  2100.0    Ford  Focus  1984
3    X582HE161RUS       2  2000.0    Ford  Focus  2015
4    92918M178RUS       1  5700.0    Ford  Focus  2014
..            ...     ...     ...     ...    ...   ...
925  H799AX131RUS       2   600.0  Toyota  Camry  1991
926  B090KH243RUS       1   500.0    Ford  Focus  2018
927  C280EC929RUS       2  1500.0    Ford  Focus  2011
928  K202AE490RUS       2  2000.0    Ford  Focus  2012
929  K008XE145RUS       2  3400.0    Ford  Focus  2010

[930 rows x 6 columns]

In [13]:
%%timeit
df['Fines/refund'] = df['Fines'].values / (df['Refund'].values * df['Year'].values)

143 µs ± 6.68 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

## indexing: measure the time using the magic command %%timeit in the cell

In [14]:
%%timeit
df.loc[df["CarNumber"] == "O136HO197RUS"]

350 µs ± 35.7 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [15]:
df = df.set_index('CarNumber')
df.head()

              Refund   Fines    Make  Model  Year  Fines/refund
CarNumber
Y163O8161RUS       2  3200.0    Ford  Focus  1989      0.804424
E432XX77RUS        1  6500.0  Toyota  Camry  1995      3.258145
7184TT36RUS        1  2100.0    Ford  Focus  1984      1.058468
X582HE161RUS       2  2000.0    Ford  Focus  2015      0.496278
92918M178RUS       1  5700.0    Ford  Focus  2014      2.830189

In [16]:
%%timeit
df.loc["O136HO197RUS"]

165 µs ± 15.1 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

## downcasting

In [17]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to K008XE145RUS
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Refund        930 non-null    int64
 1   Fines         930 non-null    float64
 2   Make          930 non-null    object
 3   Model         919 non-null    object
 4   Year          930 non-null    int64
 5   Fines/refund  930 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 236.0 KB

In [18]:
optimized = df.copy()

In [19]:
optimized['Fines'] = pd.to_numeric(optimized['Fines'], downcast='float')
optimized['Refund'] = pd.to_numeric(optimized['Refund'], downcast='integer')
optimized['Year'] = pd.to_numeric(optimized['Year'], downcast='integer')

In [20]:
optimized.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to K008XE145RUS
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Refund        930 non-null    int8
 1   Fines         930 non-null    float32
 2   Make          930 non-null    object
 3   Model         919 non-null    object
 4   Year          930 non-null    int16
 5   Fines/refund  930 non-null    float64
dtypes: float32(1), float64(1), int16(1), int8(1), object(2)
memory usage: 220.5 KB

## categories

In [21]:
optimized = optimized.reset_index()
optimized['CarNumber'] = optimized['Make'].astype('category')
optimized['Make'] = optimized['Make'].astype('category')
optimized['Model'] = optimized['Model'].astype('category')

In [22]:
optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CarNumber     930 non-null    category
 1   Refund        930 non-null    int8
 2   Fines         930 non-null    float32
 3   Make          930 non-null    category
 4   Model         919 non-null    category
 5   Year          930 non-null    int16
 6   Fines/refund  930 non-null    float64
dtypes: category(3), float32(1), float64(1), int16(1), int8(1)
memory usage: 18.8 KB

## memory clean

In [23]:
%reset_selective -f df

In [24]:
gc.collect()

112